<footer id="footer" class="footer color-bg" th:fragment="footerUser">
  <div class="links-social inner-top-sm">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- ============================================================= CONTACT INFO ============================================================= -->
          <div class="contact-info">
            <div class="footer-logo">
              <div class="logo">

                <a href="/static" class="logo-wrapper ">
                  <img src="/home/100/286/763/themes/802001/assets/logo2bcb.png?1676016752114" alt="logo ">
                </a>

              </div>
              <!-- /.logo -->
            </div>
            <!-- /.footer-logo -->
            <div class="module-body m-t-20">
              <p class="about-us">Chuỗi Bigshop.com được thành lập từ 2004 chuyên bán lẻ các sản phẩm kỹ thuật số di động bao gồm điện thoại di động, máy tính bảng</p>
              <div class="social-icons">
                <a title="Facebook" href="#"><i class="icon fa fa-facebook"></i></a>
                <a title="Twitter" href="#"><i class="icon fa fa-twitter"></i></a>
                <a title="Google" href="#" rel="publisher"><i class="icon fa fa-google"></i></a>
                <a title="Instagram" href="#"><i class="icon fa fa-instagram"></i></a>
              </div>
              <!-- /.social-icons -->
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.contact-info -->
          <!-- ============================================================= CONTACT INFO : END ============================================================= -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- ============================================================= CONTACT TIMING============================================================= -->
          <div class="contact-timing">
            <div class="module-heading">
              <h4 class="module-title">Hỗ trợ chúng tôi</h4>
            </div>
            <!-- /.module-heading -->
            <div class="module-body outer-top-xs">
              <div class="table-responsive">
                <table class="table">
                  <tbody>




                  <tr>
                    <td>Thứ hai đến thứ sáu:</td>
                    <td class="pull-right">08:00 - 18:00</td>
                  </tr>




                  <tr>
                    <td>Ngày thứ bảy:</td>
                    <td class="pull-right">09:00 - 20:00</td>
                  </tr>




                  <tr>
                    <td>Chủ nhật:</td>
                    <td class="pull-right">10:00 - 20:00</td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
              <p class='contact-number'>
                Hot Line:
                <a href="callto:19006750"> 1900 6750</a>

              </p>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.contact-timing -->
          <!-- ============================================================= CONTACT TIMING : END ============================================================= -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- ============================================================= LATEST TWEET============================================================= -->
          <div class="latest-tweet">
            <div class="module-heading">
              <h4 class="module-title">GIỚI THIỆU CHUNG</h4>
            </div>
            <!-- /.module-heading -->
            <div class="module-body module-body-update outer-top-xs">
              <ul class='list-unstyled'>
                <li><a href="/user/home">Trang chủ</a></li>
                <li><a href="/user/shop">Sản phẩm</a></li>
                <li><a href="/user/news">Tin tức</a></li>
                <li><a href="/user/contact">Liên hệ</a></li>

              </ul>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.contact-timing -->
          <!-- ============================================================= LATEST TWEET : END ============================================================= -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-md-3">
          <!-- ============================================================= INFORMATION============================================================= -->
          <div class="contact-information">
            <div class="module-heading">
              <h4 class="module-title">THÔNG TIN</h4>
            </div>
            <!-- /.module-heading -->
            <div class="module-body outer-top-xs">
              <ul class="toggle-footer" style="">
                <li class="media clearfix">
                  <div class="pull-left">
										<span class="icon fa-stack fa-lg">
											<i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
										</span>
                  </div>
                  <div class="media-body">
                    <p>

                      Ladeco Building, 266 Doi Can Street, Hà Nội,

                    </p>
                  </div>
                </li>
                <li class="media clearfix">
                  <div class="pull-left">
										<span class="icon fa-stack fa-lg">
											<i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
										</span>
                  </div>
                  <div class="media-body">
                    <p>

                      <a href="callto:19006750"> 1900 6750</a>

                    </p>
                  </div>
                </li>
                <li class="media clearfix">
                  <div class="pull-left">
										<span class="icon fa-stack fa-lg">
											<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
                  </div>
                  <div class="media-body">
										<span>

											<a href="mailto:support@sapo.vn"> support@sapo.vn</a>

										</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.contact-timing -->
          <!-- ============================================================= INFORMATION : END ============================================================= -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.links-social -->
</footer>