<script th:fragment="delete">
    // function deleteData(id,field){
    //     $.ajax({
    //         type: "GET",
    //         url:'/admin/'+field+'/' +id,
    //         success: function (){
    //             $("tr[name='" + id + "']").remove();
    //             console.log('Yêu cầu đã được gửi thành công.');
    //         },
    //         error: function(xhr, status, error) {
    //             console.error('Đã xảy ra lỗi: ' + error);
    //         }
    //     })
    // }
</script>